<!-- Andrew Forster
   - Project Date
   - Project
   - Sources:
   +  
   + 

   Better Comments Extension
    ! Important
    * Highlight
    ? Question
    TODO: Todo
 -->

{% load static %}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'CSS/Items/footer.css' %}" />

<div class="footer">
  <div class="split">
    <div class="f-main">
      <!-- Logo Section -->
      <div class="f-logo" id="f-logo">
        <div class="logo-main">
          <a href="{% url 'index' %}">
            <img class="img" src="{% static 'Images/logo.png' %}" alt="Website Logo" />
            <div>
              <h5 class="">Alchemy Analytics</h5>
              <p>Copyright 2024. All rights reserved.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nav-btns ft">
        <a href="{% url 'index' %}" class=""><button>
          <svg class="icon i-w" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
          Home</button></a>
        <a href="{% url 'shop' %}" class=""><button>
          <svg class="icon i-w" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M36.8 192H603.2c20.3 0 36.8-16.5 36.8-36.8c0-7.3-2.2-14.4-6.2-20.4L558.2 21.4C549.3 8 534.4 0 518.3 0H121.7c-16 0-31 8-39.9 21.4L6.2 134.7c-4 6.1-6.2 13.2-6.2 20.4C0 175.5 16.5 192 36.8 192zM64 224V384v80c0 26.5 21.5 48 48 48H336c26.5 0 48-21.5 48-48V384 224H320V384H128V224H64zm448 0V480c0 17.7 14.3 32 32 32s32-14.3 32-32V224H512z"/></svg>
          Shop</button></a>
        <a href="" class=""><button>
          <svg class="icon i-w" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
          Sign In</button></a>
      </div>
    </div>
    <aside class="contact">
      <h4>Contact Us</h4>
      <p>
        <!-- Phone: 123-456-7890 <br /> -->
        Email us at:
        <a href="mailto:support@alchemyanalytix.com?subject=Support Request">
          support@alchemyanalytix.com
        </a>
      </p>
      <a href="{% url 'shop' %}"><button class="modern-btn">Explore Products</button></a>
    </aside>
  </div>
  <p class="disclaimer">
    RISK DISCLAIMER: THERE IS A VERY HIGH DEGREE OF RISK INVOLVED IN TRADING.
    PAST PERFORMANCE IS NOT NECESSARILY INDICATIVE OF FUTURE RESULTS.
    ALCHEMY ANALYTIXS AND ALL INDIVIDUALS AFFILIATED WITH THIS SITE ASSUME NO
    RESPONSIBILITY FOR YOUR TRADING AND INVESTMENT RESULTS. ALL THE MATERIAL
    CONTAINED HEREIN IS BELIEVED TO BE CORRECT, HOWEVER, ALCHEMY ANALYTIXS WILL
    NOT BE HELD RESPONSIBLE FOR ACCIDENTAL OVERSIGHTS, TYPOS, OR INCORRECT
    INFORMATION FROM SOURCES THAT GENERATE FUNDAMENTAL AND TECHNICAL
    INFORMATION. FUTURES AND FUTURES OPTIONS TRADING CARRIES SIGNIFICANT RISK.
    OPTIONS TRADING CARRIES SIGNIFICANT RISK. FOREIGN EXCHANGE TRADING CARRIES
    SIGNIFICANT RISK. STOCK TRADING CARRIES SIGNIFICANT RISK. TRADING
    SECURITIES, SECURITY OPTIONS, FUTURES AND/OR FUTURES OPTIONS IS NOT FOR
    EVERY INVESTOR, AND ONLY RISK CAPITAL SHOULD BE USED. YOU ARE RESPONSIBLE
    FOR UNDERSTANDING THE RISK INVOLVED WITH TRADING FUTURES, OPTIONS, STOCKS,
    AND FOREIGN EXCHANGE PRODUCTS. PRIOR TO TRADING ANY SECURITIES PRODUCTS,
    PLEASE READ THE CHARACTERISTICS AND RISKS OF STANDARDIZED OPTIONS AND THE
    RISK DISCLOSURE FOR FUTURES AND OPTIONS THE INDICATORS, STRATEGIES, SETUPS,
    METHODS, AND ALL OTHER PRODUCTS AND FEATURES ON THIS WEBSITE ARE FOR
    EDUCATIONAL PURPOSES ONLY AND SHOULD NOT BE CONSTRUED AS ADVICE. INFORMATION
    FOR FUTURES TRADING OBSERVATIONS ARE OBTAINED FROM SOURCES BELIEVED TO BE
    RELIABLE, BUT WE DO NOT WARRANT ITS COMPLETENESS OR ACCURACY, OR WARRANT ANY
    RESULTS FROM THE USE OF THE INFORMATION. YOUR USE OF THE TRADING
    OBSERVATIONS IS ENTIRELY AT YOUR OWN RISK AND IT IS YOUR SOLE RESPONSIBILITY
    TO EVALUATE THE ACCURACY, COMPLETENESS, AND USEFULNESS OF THE INFORMATION.
    YOU MUST ASSESS THE RISK OF ANY TRADE WITH YOUR BROKER AND MAKE YOUR OWN
    INDEPENDENT DECISIONS REGARDING ANY SECURITIES MENTIONED HEREIN. AFFILIATES
    OF ALCHEMY ANALYTIXS MAY HAVE A POSITION OR AFFECT TRANSACTIONS IN THE
    SECURITIES DESCRIBED HEREIN (OR OPTIONS THEREON) AND/OR OTHERWISE EMPLOY
    TRADING STRATEGIES THAT MAY BE CONSISTENT OR INCONSISTENT WITH THE PROVIDED
    STRATEGIES. ALL OUR PARTNERS OR AFFILIATED COMPANIES ARE IN NO WAY
    ASSOCIATED WITH THE PROPRIETARY INFORMATION PROVIDED BY THE ALCHEMY ANALYTIXS
    METHOD OR SOFTWARE. ALL RETURNS ARE BASED ON BUY SIDE ANALYSIS AND DO NOT
    INCLUDE COMMISSION COSTS. ALL PROJECTIONS ARE BASED ON CURRENT RETURNS. THE
    PROJECTIONS DO NOT ACCOUNT FOR ANY POSSIBLE DRAW DOWN EFFECTS ON PERFORMANCE
    AND PERFORMANCE PROJECTIONS. ACTUAL RETURNS AND PROJECTED RETURNS MAY
    FLUCTUATE OVER THE COURSE OF THE SERVICE. ANY PERSON WHO CHOOSES TO USE THIS
    INFORMATION AS A BASIS FOR THEIR TRADING ASSUMES ALL THE LIABILITY AND RISK
    FOR THEMSELVES AND HEREBY AND ABSOLUTELY AGREES TO INDEMNIFY AND HOLD
    HARMLESS ALCHEMY ANALYTIXS, ITS PRINCIPALS, AGENTS, AND EMPLOYEES.
    TESTIMONIALS DISCLAIMER: TESTIMONIALS APPEARING ON ALCHEMYANALYTIXS.COM AND OR
    ALL AFFILIATED WEBSITES MAY NOT BE REPRESENTATIVE OF THE EXPERIENCE OF OTHER
    CLIENTS, USERS, CUSTOMERS AND IS NOT A GUARANTEE OF FUTURE PERFORMANCE OR
    SUCCESS. NINJATRADER® IS A REGISTERED TRADEMARK OF NINJATRADER® GROUP, LLC.
    NO NINJATRADER® COMPANY HAS ANY AFFILIATION WITH THE OWNER, DEVELOPER, OR
    PROVIDER OF THE PRODUCTS OR SERVICES DESCRIBED HEREIN, OR ANY INTEREST,
    OWNERSHIP OR OTHERWISE, IN ANY SUCH PRODUCT OR SERVICE, OR ENDORSES,
    RECOMMENDS, OR APPROVES ANY SUCH PRODUCT OR SERVICE. #1 SOURCE FOR
    NINJATRADER® INDICATORS BASED ON THE LARGEST VARIETY AND VOLUME OF SALES.
    AMERICAS #1 NINJATRADER® INNOVATOR IS BASED ON THE LARGEST VARIETY OF
    INDICATORS, ADD-ONS, AND STRATEGIES TO INDIVIDUALIZE THE NINJATRADER®
    PLATFORM. CFTC RULES 4.41 - HYPOTHETICAL OR SIMULATED PERFORMANCE RESULTS
    HAVE CERTAIN LIMITATIONS; UNLIKE AN ACTUAL PERFORMANCE RECORD, SIMULATED
    RESULTS DO NOT REPRESENT ACTUAL TRADING. ALSO, SINCE THE TRADES HAVE NOT
    BEEN EXECUTED, THE RESULTS MAY HAVE UNDER- OR OVER-COMPENSATED FOR THE
    IMPACT, IF ANY, OF CERTAIN MARKET FACTORS, SUCH AS LACK OF LIQUIDITY.
    SIMULATED TRADING PROGRAMS IN GENERAL ARE ALSO SUBJECT TO THE FACT THAT THEY
    ARE DESIGNED WITH THE BENEFIT OF HINDSIGHT. NO REPRESENTATION IS BEING MADE
    THAT ANY ACCOUNT WILL OR IS LIKELY TO ACHIEVE PROFIT OR LOSSES LIKE THOSE
    SHOWN. VIEW FULL RISK DISCLOSURE
  </p>
</div>