@font-face {
  font-family: Inconsolata;
  src: url(/Fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}

html {
  font-size: 62.5%;
  overscroll-behavior: none;
  color: var(--color-secondary);
}

body {
  margin: 0 0 0 0;
}

h1 {
  /* property: value */
  font-family: Inconsolata, Montserrat, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 8rem;
  margin: 0 0 16px;
}

h2 {
  /* property: value */
  font-family: Inconsolata, Montserrat, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 6rem;
  margin: 0 0 8px;
}

h3 {
  /* property: value */
  font-family: Inconsolata, Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 5em;
  margin: 0 0 8px;
}

h4 {
  /* property: value */
  font-family: Inconsolata, Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  margin: 0 0 8px;
}

h5 {
  /* property: value */
  font-family: Inconsolata, Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin: 0 0 8px;
}

h6 {
  /* property: value */
  font-family: Inconsolata, Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  margin: 0 0 8px;
}

li {
  /* property: value */
  font-family: Inconsolata, Montserrat, Helvetica, sans-serif;
  font-size: 1.8rem;
}

p {
  /* property: value */
  font-family: Inconsolata, Montserrat, Helvetica, sans-serif;
  font-size: 1.8rem;
  margin: 24px 0 24px;
  line-height: 2.5rem;
}

div {
  /* property: value */
  font-family: Inconsolata, Montserrat, Helvetica, sans-serif;
  font-size: 1.8rem;
}

a {
  /* property: value */
  font-family: Inconsolata, Montserrat, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
}

button {
  font-family: Inconsolata, Montserrat, Helvetica, sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
}

span {
  font-family: Inconsolata, Montserrat, Helvetica, sans-serif;
}

@media (max-width: 750px) {
  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 3.4rem;
  }

  h3 {
    font-size: 3em;
  }

  h4 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.8rem;
  }

  button {
    font-size: 1.8rem;
  }

  li {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.4rem;
  }

  div {
    font-size: 1.4rem;
  }

}
