/* ------------- */ /**/
/* CSS Utilities */ /**/
/* ------------- */ /**/


/* Button Styles */

.modern-btn {
    margin: 2rem 0;
    border: 5px solid var(--color-main);
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 5rem;
    border-radius: 2px;
    transition-duration: 0.5s;
  }
  
  .modern-btn:hover {
    background-color: var(--color-main-hover);
  }

/* Cards */

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 4rem 0 0 0;
    
}

.card {
    width: 300px;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: var(--color-card);
    margin: 1.5rem;
    box-shadow: 0px 0px 6px -1px var(--font-color-secondary);
    transition-duration: 0.5s;
}

.card h5 {
    margin: 0.7rem 0 0 0;
}

.card img {
    width: 100%;
    border-radius: 2px;
}

.card button {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--color-main);
    border-radius: 2px;
    transition-duration: 0.5s;
    border: 2px solid var(--color-main);
}

.card button:hover {
    background-color: var(--color-main-hover);
}


/* X button */

.x-btn {
    position: fixed;
    width: 30px;
    height: 25px;
    top: -5%;
    left: 97%;
    z-index: 9;
    opacity: 0;
    pointer-events: none;
}

.x-btn span {
    position: absolute;
    background: var(--color-main);
    height: 4px;
    width: 28px;
}

.x-btn.active {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}

.x-btn.active span:nth-child(1) {
    transform: rotate(45deg);
}

.x-btn.active span:nth-child(2) {
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .x-btn {
        left: 95%;
    }
}

@media (max-height: 550px) {
    .x-btn {
        top: 20PX;
        left: 102%;
    }
}